{% extends 'base.html' %}
{% block content %}
{% load static %}

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">This is my website</h1>
      </div>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container" id="about">
    <h2 class="font-weight-light">Page Content</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
  </div>
</section>

<div class="container ">
    <div class="row" >
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <img src="{% static 'profile/my-photo.jpg' %}" width="200" height="200">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="container">

                <a href="https://github.com/als1379"><img src="{% static 'profile/GitHub-Mark.png' %}" height="50" width="50"></a>
                <br>
                <a href="https://www.linkedin.com/in/ali-saleh-134686199/"><img src="{% static 'profile/linkdin.png' %}" height="50" width="50"></a>
                <br>
                <a href="https://instagram.com/alisaleh179"><img src="{% static 'profile/instagram.webp' %}" height="50" width="50"></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="container text-center">

            <h3>Ali Saleh</h3>
            <h5>Computer science student</h5>
            <br>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="container text-center">
                <a href="{% static 'profile/res.pdf' %}" class="btn">My resume</a>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="container text-center">
        <h3 id="projects"> My Projects </h3>
    </div>
    <br>
    <div class="row">

        {% for project in projects  %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-50">
                    <img class="card-img-top" src="{{ project.image.url }}" alt="Card image cap" height="200" width="200"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                        <a href="/project/{{ project.id }}">{{ project.title }}</a>
                        </h4>
                        <p class="card-text">{{ project.description }}</p>
                        <p class="card-text"><small class="text-muted">{{ project.language }}</small></p>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
</div>

{% endblock %}